.playlist {
    border: 3px solid #ccc;
    border-radius: 8px;
    padding: 40px;
  }
  
  .playlist h4 {
    font-size: 24px
  }
  
  .playlist p {
    font-size: 18px;
    margin-top : -10px;
    padding-bottom: 10px;
  }
  
  .playlist button {
    background-color:#1F1F1F;
    color: #fff;
    padding: 20px;
    width: 180px;
    border-radius: 8px;
    box-shadow: 4px 3px #080808;
    border: 1px solid #9B9B9B;
  }
  
  .playlist button:hover {
    background-color: #080808;
  }